body{
background-color: lightcyan;}
table, th, td {
    border: 1px solid black;
    width: 50%;
    text-align: center;
    text-size-adjust: 50%;
  }
  img{
    width: 100;
  }
  div{
    font-size: 30px;
    font-weight: bold;
  }
  


